:root {
  --couleur-boutton: #B85F49;
  --couleur-fond-principal: #222222;
  --couleur-texte-principal: #F0F0E0;
  --couleur-blanc: #FFFFFF;
  --couleur-noir: #000000;

  --border-radius-bouton: 0.7em;
  --maw-width-container: 124em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--couleur-fond-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: var(--couleur-fond-principal);
}

.container {
    max-width: var(--maw-width-container);
    width: 100%;
    background-color: var(--couleur-fond-principal);
    box-sizing: border-box;
    text-align: center;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15em;
}

.filtre {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    background-color: black;
    padding: 1.2em;
    box-shadow: 0px 0px 15px 15px black;
    margin-top: 1em;
}

.filtre .haut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filtre p {
    color: var(--couleur-texte-principal);
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    display: inline-block;
}

.filtre .btn_croix {
    border-radius: 10px;
    width: 2.3em;
    height: 2.3em;
    background-color: var(--couleur-boutton);
    background-image: url('/site_web/public/img/accueil/annuler.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.filtre .btn_croix.active-click {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.filtre .recherche {
    display: flex;
    align-items: center;
    margin: 2em 0;
    border-bottom: 0.15em solid var(--couleur-boutton);
}

.filtre .btn_recherche {
    width: 2.3em;
    height: 2.3em;
    background-image: url('/site_web/public/img/accueil/loupe.png');
    background-size: 60%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.filtre .recherche_case {
    margin-left: 1em;
    width: 100%;
    background-color: transparent;
    font-family: 'Antonio', sans-serif;
    border: none;
    color: var(--couleur-texte-principal);
}

.filtre article{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.filtre article p {
    margin-bottom: 0.7em;
}

.filtre li {
    list-style-type: none;
}

.filtre article a {
    display: inline-block;
    color: var(--couleur-texte-principal);
    text-decoration: none;
    margin: 0.2em 2em;
    background: none;
    border: none; 
    padding: 0.5em 5em 0.5em 1em;
    cursor: pointer;
    width: 10em;
    border-radius: 10px;
    transition: 0.3s;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Antonio', sans-serif;
}

.filtre article a.active {
    background-color: var(--couleur-boutton);
}

.explos_photos {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    flex-grow: 1;
    margin-left: 5em;
    gap: 5em;
    margin-bottom: 1em;
}

.explos_photos>article {
    flex-basis: 25%;
    flex-grow: 1;
    padding: 1em;
    position: relative;
    overflow: hidden;
    background-color: var(--couleur-blanc);
}

.explos_photos>article>img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.7em;
    color: var(--couleur-texte-principal);
}

.trait-blanc {
    flex-grow: 1;
    border: none;
    height: 2px;
    border: none;
    height: 2px;
    background-color: var(--couleur-texte-principal);
}

.explos_photos>article article {
    width: 25em;
    padding-top: 2em;
    background: rgba(0, 0, 0, 0.4);
}

.explos_photos>article article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
    margin: 0 0.8em 0 0.8em;
}

.explos_photos>article article div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.2em;
}

.explos_photos>article article img {
    width: 2.4em;
    height: auto;
    margin-left: 0.2em;
}

.explos_photos>article article div p{
    margin-right: 0.4em;
    color: var(--couleur-texte-principal);
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_photos>article a {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--couleur-texte-principal);
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_photos>article a div {
    padding: 0.2em 1em 0.4em 1em;
    margin-top: 1em;
    transition: 0.3s;
    border-radius: var(--border-radius-bouton);
    border: 0.04em solid var(--couleur-noir);
    background-color: var(--couleur-boutton);
    box-shadow: 5px 5px 20px 2px var(--couleur-noir);
    will-change: transform;
}

.explos_photos>article a div:hover {
    transform: scale(1.05);
}

.article_vide {
    background-color: var(--couleur-fond-principal) !important;
}

.unLieu {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: transform, opacity;
    backface-visibility: hidden;
}

.unLieu.hidden {
    opacity: 0;
    transform: scale(0.95);
}

.resultat_recherche {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: transform, opacity;
}

.explos_photos h1 {
    color: var(--couleur-texte-principal);
    flex-basis: 100%;
    margin: 0.5em 0 0 1.3em;
}

.resultat_recherche:empty {
    display: none;
}

.pagination {
    display: inline-flex;
    background-color: #000000;
    padding: 1em 1.6em 1.4em 1.6em;
    margin: 5em 0;
    box-shadow: 0px 0px 15px 15px black;
    justify-content: center;
    align-items: center;
}

.pagination .navPage {
    display: inline-block;
    text-decoration: none;  
    font-size: 2em;
    font-family: 'Antonio', sans-serif;
    transition: 0.3s;
    will-change: transform;
    color: var(--couleur-boutton);
    font-weight: bold;
}


.pagination .navPage:hover {
    transform: scale(1.2);
}

.pagination .info_page {
    color: var(--couleur-texte-principal);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif;
    margin: 0 1em;
}

.orange {
    color: var(--couleur-boutton);
}