/*positionnement*/

.photo_acc {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_acc .overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.photo_acc article {
    text-align: center;
}

.photo_acc article div {
    display: inline-block;
    width: auto;
    padding: 0 1.7em 0.2em;
    margin-top: 0.5em;
}

.photo_acc h1 {
    position: relative;
    z-index: 2;
}

.photo_acc a {
    position: relative;
    z-index: 2;
}

.parent {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 130em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.explos_recentes h1 {
    text-align: center;
    padding-top: 2em;
}

.explos_recentes_photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7em;
}

.explos_recentes_photos>article {
    flex-basis: 25%;
    flex-grow: 1;
    margin: 2.7em;
    padding: 1em;
    position: relative;
    overflow: hidden;
}

.explos_recentes_photos article h2 {
    margin: 0 0.8em 0 0.8em;
}

.explos_recentes_photos>article>img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.7em;
}

.trait-blanc {
    flex-grow: 1;
    height: 2px;
}

.explos_recentes_photos>article article {
    width: 28em;
    padding-top: 2em;
}

.explos_recentes_photos>article article div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.2em;
}

.explos_recentes_photos>article article img {
    width: 2.4em;
    height: auto;
    margin-left: 0.2em;
}

.explos_recentes_photos>article article div p{
    margin-right: 0.4em;
}

.explos_recentes_photos>article a {
    display: inline-block;
    margin: 0 auto;
}

.explos_recentes_photos>article a div {
    padding: 0.2em 1em 0.4em 1em;
    margin-top: 1em;
}

/*style*/

body {
    background-color: #222222;
}

.photo_acc {
    background: url("/site_web/img/accueil/grande_photo_accueil.jpeg") center/cover no-repeat;
    color: white;
    box-shadow: 0px 0px 30px 2px black;
}

.photo_acc .overlay {
    background: rgba(0, 0, 0, 0.72);
}

.photo_acc h1 {
    font-size: 8em;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.photo_acc a {
    text-decoration: none;
    color: white;
    font-size: 4em;
    font-family: 'Antonio', sans-serif;
}

.photo_acc article div:hover {
    background: rgba(0, 0, 0, 0.3);
}

.photo_acc article div {
    border-radius: 2em;
    border: 0.09em solid white;
}

.parent {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

.explos_recentes h1 {
    color: white;
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

.explos_recentes_photos>article {
    background-color: white;
}

.content {
    color: white;
}

.trait-blanc {
    border: none;
    background-color: white;
}

.explos_recentes_photos article article {
    background: rgba(0, 0, 0, 0.4);
}

.explos_recentes_photos article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
}

.explos_recentes_photos article article p {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_recentes_photos article a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_recentes_photos article a div {
    border-radius: 2em;
    border: 0.09em solid white;
}

.explos_recentes_photos article a div:hover {
    background: rgba(0, 0, 0, 0.4);
}