/*positionnement*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    padding-top: 1em;
    width: 100%;
    z-index: 10;
}

header h1 {
    flex-basis: 30%;
    text-align: center;
}

header nav {
    flex-basis: 50%;
}

header .menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
}

header .menu>li {
    flex-grow: 1;
    text-align: right;
    position: relative;
    cursor: pointer;
}

header .menu ul {
    list-style: none;
}

header .menu li .sous_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    min-width: auto;
    z-index: 100;
}

header .sous_menu li {
    text-align: left;
}

header .menu li.has-sous_menu>a:hover+.sous_menu,
header .menu li.has-sous_menu .sous_menu:hover {
    display: block;
}

nav ul.menu>li.has-sous_menu>a::after {
    display: inline-block;
    margin-left: 0.3em;
    font-size: 0.9em;
}

header .sous_menu li {
    padding: 0.5em 1em;
    white-space: nowrap;
}

header .search {
    flex-basis: 20%;
    text-align: center;
}

header .search2 {
    padding: 0.65em 1.9em 0.65em 0.65em;
}

header .submit {
    padding: 0.65em;
}

/*style*/

header {
    background-color: black;
    box-shadow: 0px 25px 60px 60px black;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

header .menu {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Antonio', sans-serif;
}

nav>ul>li>a:hover {
    color: #3B3B3B;
    transition: 0.3s;
}

header .menu li .sous_menu {
    background: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

header .sous_menu li {
    border-bottom: 1px solid white;
}

nav ul.menu>li.has-sous_menu>a::after {
    content: ">";
    transition: transform 0.3s;
    color: white;
    transition: 0.3s;
}

nav ul.menu>li.has-sous_menu>a:hover::after {
    transform: rotate(90deg);
    color: #3B3B3B;
}

nav .menu li .sous_menu li:hover {
    background-color: #3B3B3B;
    transition: 0.3s;
}

header .search2 {
    border-radius: 30px;
    font-style: italic;
}

header .submit {
    border-radius: 30px;
}