/*positionnement*/
body {
    overflow-y: scroll;
    background-color: var(--couleur-fond-principal);
    display: flex;
    flex-direction: column;
}

main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex: 1;
}

.container {
    max-width: 130em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center;
    padding-top: 12em;
}

main form {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1em;
    row-gap: 1.5em;
    column-gap: 1em;
    width: 65%;
    margin-bottom: 4em;
}

.form-group,
.section {
    display: contents;
}

.form-group label {
    text-align: right;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    min-width: 300px;
}

.choix-orientation {
    display: flex;
    gap: 1.5em;
}

.btn-orientation {
    flex: 1;
}

.btn-retour {
    display: inline;
}

.boutons_section {
    display: flex;
    gap: 1.5em;
}

.btn-supprimer_section,
.btn-ajouter_section {
    flex-basis: 40%;
    flex-grow: 1;
}

/*style*/

body {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

main h1 {
    color: white;
    font-size: 2.8em;
    font-family: 'Anton', sans-serif;
    margin-left: 5.5em;
}

.form-group label {
    color: white;
    font-size: 2em;
}

.form-group input,
.form-group textarea,
.form-group select,
button {   
    padding: 10px;
    border: none;
    font-size: 1.5em;
    background-color: white;
}

textarea {
    resize: none;
}

button:hover{
    background-color: #3B3B3B;
    transition: 0.3s;
    color: white;
}