header {
    background-color: black;
    box-shadow: 0px 25px 60px 60px black;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

header .menu {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Antonio', sans-serif;
}

nav>ul>li>a:hover {
    color: #3B3B3B;
    transition: 0.3s;
}

header .menu li .sous_menu {
    background: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

header .sous_menu li {
    border-bottom: 1px solid white;
}

nav ul.menu>li.has-sous_menu>a::after {
    content: ">";
    transition: transform 0.3s;
    color: white;
    transition: 0.3s;
}

nav ul.menu>li.has-sous_menu>a:hover::after {
    transform: rotate(90deg);
    color: #3B3B3B;
}

nav .menu li .sous_menu li:hover {
    background-color: #3B3B3B;
    transition: 0.3s;
}

header .search2 {
    border-radius: 30px;
    font-style: italic;
}

header .submit {
    border-radius: 30px;
}

body {
    background-color: #222222;
}

.photo_acc {
    background: url("/site_web/img/accueil/grande_photo_accueil.jpeg") center/cover no-repeat;
    color: white;
    box-shadow: 0px 0px 30px 2px black;
}

.photo_acc .overlay {
    background: rgba(0, 0, 0, 0.72);
}

.photo_acc h1 {
    font-size: 8em;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.photo_acc a {
    text-decoration: none;
    color: white;
    font-size: 4em;
    font-family: 'Antonio', sans-serif;
}

.photo_acc article div:hover {
    background: rgba(0, 0, 0, 0.3);
}

.photo_acc article div {
    border-radius: 2em;
    border: 0.09em solid white;
}

.parent {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

.explos_recentes h1 {
    color: white;
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

.explos_recentes_photos>article {
    background-color: white;
}

.content {
    color: white;
}

.trait-blanc {
    border: none;
    background-color: white;
}

.explos_recentes_photos article article {
    background: rgba(0, 0, 0, 0.4);
}

.explos_recentes_photos article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
}

.explos_recentes_photos article article p {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_recentes_photos article a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_recentes_photos article a div {
    border-radius: 2em;
    border: 0.09em solid white;
}

.explos_recentes_photos article a div:hover {
    background: rgba(0, 0, 0, 0.4);
}