/*positionnement*/
body {
    overflow-y: scroll;
    background-color: var(--couleur-fond-principal);
    display: flex;
    flex-direction: column;
}

main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex: 1;
}

.container {
    max-width: 130em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center;
    padding-top: 12em;
}

.block {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 3em;
}

.orange {
    color: var(--couleur-boutton);
}

main form {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    row-gap: 1.5em;
    column-gap: 1em;
    width: 65%;
    margin-bottom: 4em;
    background-color: black;
    padding: 1.5em;
    box-shadow: 0px 0px 15px 15px var(--couleur-noir);
}

.form-group,
.section {
    display: contents;
}

.form-group label {
    text-align: right;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    min-width: 300px;
}

.choix-orientation {
    display: flex;
    gap: 1.5em;
}

.btn-orientation {
    flex: 1;
}

.btn-retour {
    display: inline;
}

.boutons_section {
    display: flex;
    gap: 1.5em;
}

.btn-supprimer_section,
.btn-ajouter_section {
    flex-basis: 40%;
    flex-grow: 1;
}

/*style*/

body {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

main h1 {
    margin-top: 1em;
    color: var(--couleur-texte-principal);
    font-size: 2.8em;
    font-family: 'Anton', sans-serif;
}

.form-group label {
    color: var(--couleur-boutton);
    font-size: 2em;
    font-family: 'Antonio', sans-serif;
}

.form-group input,
.form-group textarea,
.form-group button,
.form-group select {
    font-size: 1em;
    margin-top: 0.4em;
    background-color: var(--couleur-texte-principal);
    color: var(--couleur-noir);
    border-radius: 0.7em;
    padding: 1em;
}

.form-group button {
    background-color: var(--couleur-boutton);
    color: var(--couleur-texte-principal);
}

textarea {
    resize: none;
}