/*positionnement*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--couleur-fond-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex: 1;
}

.container {
    max-width: 145em;
    width: 100%;
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15em;
}

.filtre .recherche {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
}

.filtre .recherche_case {
    width: 15em;
    padding: 0.5em;
    border-radius: 10px 0 0 10px;
    font-family: 'Antonio', sans-serif;
    border: none;
}

.filtre .btn_recherche {
    padding: 0.5em;
    border-radius: 0 10px 10px 0;
    width: 2.3em;
    height: 2.3em;
    background-image: url('/site_web/img/accueil/loupe.webp');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.filtre .btn_croix {
    padding: 0.5em;
    border-radius: 10px;
    width: 2.3em;
    height: 2.3em;
    background-image: url('/site_web/img/accueil/annuler.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-left: 0.6em;
}

.filtre {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    background-color: black;
    padding: 1.2em;
    box-shadow: 0px 0px 15px 15px black;
    margin-top: 1em;
}

.filtre article{
    display: flex;
    flex-direction: column;
}

.filtre article p {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
    margin: 0.8em 0;
}

.filtre li {
    list-style-type: none;
}

.filtre article button {
    color: white;
    text-decoration: none;
    margin: 0.2em 2em;
    background: none;
    border: none; 
    padding: 0.5em 5em 0.5em 1em;
    cursor: pointer;
    width: 10em;
    border-radius: 10px;
    transition: 0.3s;
    text-align: left;
}

.filtre article button:hover {
    background-color: #222222;
}

.explos_photos {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    flex-grow: 1;
    margin-left: 5em;
    height: 55vh;
    overflow-y: auto;
    border: 0.125em solid black;
    box-shadow: 0px 0px 15px 10px black;
    border-radius: 20px 0 0 20px;
    padding: 1em;
    align-items: flex-start;
    align-content: flex-start;
}

.explos_photos>article {
    flex-basis: 25%;
    flex-grow: 1;
    margin: 2.7em;
    padding: 1em;
    position: relative;
    overflow: hidden;
}

.explos_photos>article>img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.7em;
}

.trait-blanc {
    flex-grow: 1;
    border: none;
    height: 2px;
}

.explos_photos>article article {
    width: 25em;
    padding-top: 2em;
}

.explos_photos>article article div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.2em;
}

.explos_photos>article article img {
    width: 2.4em;
    height: auto;
    margin-left: 0.2em;
}

.explos_photos>article article div p{
    margin-right: 0.4em;
}

.explos_photos>article a {
    display: inline-block;
    margin: 0 auto;
}

.explos_photos>article a div {
    padding: 0.2em 1em 0.4em 1em;
    margin-top: 1em;
}

/*styles*/

main {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

.explos_photos>article {
    background-color: white;
}

.content {
    color: white;
}

.trait-blanc {
    border: none;
    height: 2px;
    background-color: white;
}

.explos_photos>article article {
    background: rgba(0, 0, 0, 0.4);
}

.explos_photos>article article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
    margin: 0 0.8em 0 0.8em;
}

.explos_photos>article article p {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_photos>article a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_photos>article a div {
    border-radius: 2em;
    border: 0.09em solid white;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.07);
}

.explos_photos>article a div:hover {
    background: rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.unLieu {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: transform, opacity;
    backface-visibility: hidden;
}

.unLieu.hidden {
    opacity: 0;
    transform: scale(0.95);
}

.resultat_recherche {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: transform, opacity;
}

.explos_photos h1 {
    color: white;
    flex-basis: 100%;
    margin: 0.5em 0 0 1.3em;
}

.btn_filtre.active-click {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}

.btn_croix.active-click {
    transform: scale(0.9);
    transition: transform 0.2s ease;
}