* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 1em;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header h1 {
    flex-basis: 30%;
    text-align: center;
}

header nav {
    flex-basis: 50%;
}

header .menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
}

header .menu>li {
    flex-grow: 1;
    text-align: right;
    position: relative;
    cursor: pointer;
}

header .search {
    flex-basis: 20%;
    text-align: center;
}

header .search2 {
    padding: 0.65em;
    padding-right: 1.9em;
}

header .submit {
    padding: 0.65em;
}

header .menu .sous_menu li {
    text-align: left;
}

nav ul.menu ul {
    list-style: none;
}

nav .menu li .sous_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0;
    min-width: auto;
    z-index: 100;
}

nav .menu li.has-sous_menu>a:hover+.sous_menu,
nav .menu li.has-sous_menu .sous_menu:hover {
    display: block;
}

nav .menu li .sous_menu li {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
    border-bottom: 1px solid white;
}

.container {
    max-width: 110em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.histoire .titre {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    padding-top: 13.5em;
}

.histoire h1 {
    margin-left: 1em;
}

.histoire img {
    width: 4.5em;
    margin-left: 1em;
    height: auto;
}

.histoire .titre p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto 1.73em 0.5em;
}

.histoire>p {
    margin: 2.2em 1.9em 0.5em 1.9em;
    line-height: 1.6;
    padding: 0.2em 0.5em 0.3em 0.5em;
}

.exploration {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.exploration p {
    flex-basis: 100%;
    margin: 1.5em 1.9em 1.5em 1.9em;
    line-height: 1.6;
    padding: 0.2em 0.5em 0.3em 0.5em;
}

.exploration article {
    display: flex;
    margin: 1.5em 3em 1.5em 2.6em;
    padding: 1em;
    flex-grow: 1;
}

.exploration .horizontal {
    flex-basis: 27%;
    max-width: 36em;
}

.exploration .vertical {
    flex-basis: 20.25%;
}

.exploration article>img {
    width: 100%;
    height: auto;
    display: block;
}

.text-block {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
}