header {
    background-color: black;
    box-shadow: 0px 25px 60px 60px black;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

header .menu {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Antonio', sans-serif;
}

nav>ul>li>a:hover {
    color: #3B3B3B;
}

nav ul.menu>li.has-sous_menu>a::after {
    content: ">";
    display: inline-block;
    margin-left: 0.3em;
    font-size: 0.9em;
    transition: transform 0.3s;
    color: white;
}

nav ul.menu>li.has-sous_menu>a:hover::after {
    transform: rotate(90deg);
    color: #3B3B3B;
}

nav .menu li .sous_menu li:hover {
    background-color: #3B3B3B;
}

header .search2 {
    border-radius: 30px;
    font-style: italic;
}

header .submit {
    border-radius: 30px;
}

main {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

.histoire h1 {
    color: white;
    font-size: 2.8em;
    font-family: 'Anton', sans-serif;
}

.histoire .titre p {
    color: white;
    font-size: 1.7em;
    font-family: 'Antonio', sans-serif;
}

.histoire>p {
    color: white;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    border: white 0.08em solid;
}

.exploration p {
    color: white;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    border: white 0.08em solid;
}

.exploration article {
    background-color: white;
}