:root {
  --couleur-boutton: #B85F49;
  --couleur-fond-principal: #222222;
  --couleur-texte-principal: #F0F0E0;
  --couleur-blanc: #FFFFFF;
  --couleur-noir: #000000;

  --border-radius-bouton: 0.7em;
  --maw-width-container: 130em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--couleur-fond-principal);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.photo_acc {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/site_web/public/img/accueil/grande_photo_accueil.jpeg") center/cover no-repeat;
    color: var(--couleur-texte-principal);
    box-shadow: 0 6px 60px 15px black;
}

.photo_acc .overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.72);
}

.photo_acc article {
    text-align: center;
}

.photo_acc h1 {
    position: relative;
    z-index: 2;
    font-size: 9.5em;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.photo_acc a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Antonio', sans-serif;
    color: var(--couleur-texte-principal);
}

.photo_acc article div {
    display: inline-block;
    width: auto;
    padding: 0.1em 2em 0.3em 2em;
    margin-top: 0.5em;
    border-radius: var(--border-radius-bouton);
    border: 0.04em solid var(--couleur-noir);
    background-color: var(--couleur-boutton);
    box-shadow: 5px 5px 20px 2px var(--couleur-noir);
    transition: 0.3s;
    will-change: transform;
}

.photo_acc article div:hover,
.explos_recentes_photos article a div:hover {
    transform: scale(1.05);
}

.parent {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--couleur-fond-principal);
}

.container {
    max-width: var(--maw-width-container);
    width: 100%;    
    box-sizing: border-box;
    background-color: var(--couleur-fond-principal);
    display: flex;
    flex-direction: column;
    padding-top: 4em;
}

.orange {
    color: var(--couleur-boutton);
}

.def_urbex,
.def_site,
.explos_recentes,
.reseaux {
    padding: 6em 3em;
}

.def_urbex h1,
.def_site h1,
.explos_recentes h1,
.reseaux h1 {
    font-size: 3em;
    font-family: 'Anton', sans-serif;
    color: var(--couleur-texte-principal);
    margin-bottom: 0.7em;
}

.def_urbex p,
.def_site p {
    font-size: 1.4em;
    color: var(--couleur-texte-principal);
    font-weight: 100;
    margin-top: 0.6em;
}

.voir_plus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.voir_plus a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
    will-change: transform;
}

.voir_plus a:hover {
    transform: scale(1.05);
}

.voir_plus p {
    color: var(--couleur-texte-principal);
    font-size: 1.5em;
    margin-right: 0.5em;
}

.explos_recentes_photos {
    display: flex;
    flex-wrap: wrap;
    gap: 7em;
}

.explos_recentes_photos>article {
    flex-basis: 25%;
    flex-grow: 1;
    padding: 1em;
    position: relative;
    overflow: hidden;
    background-color: var(--couleur-blanc);
}

.explos_recentes_photos article h2 {
    margin: 0 0.8em;
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
    color: var(--couleur-texte-principal);
}

.explos_recentes_photos>article>img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.7em;
}

.trait-blanc {
    flex-grow: 1;
    height: 2px;
    border: none;
    background-color: var(--couleur-texte-principal);
}

.explos_recentes_photos>article article {
    width: 28em;
    padding-top: 2em;
    background: rgba(0, 0, 0, 0.4);
}

.explos_recentes_photos>article article div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.2em;
}

.explos_recentes_photos>article article img {
    width: 2.4em;
    height: auto;
    margin-left: 0.2em;
}

.explos_recentes_photos>article article div p{
    margin-right: 0.4em;
    color: var(--couleur-texte-principal);
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_recentes_photos>article a {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--couleur-texte-principal);
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
    margin-top: 1em;
}

.explos_recentes_photos>article a div {
    padding: 0.2em 1em 0.4em 1em;
    transition: 0.3s;
    border-radius: var(--border-radius-bouton);
    border: 0.04em solid var(--couleur-noir);
    background-color: var(--couleur-boutton);
    box-shadow: 5px 5px 20px 2px var(--couleur-noir);
    will-change: transform;
}

.insta {
    display: flex;
    flex-direction: row;
    gap: 7em;
    margin-top: 5em;
}

.un_insta {
    background-color: var(--couleur-noir);
    box-shadow: 0px 0px 15px 15px black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    flex-grow: 1;
    gap: 2em;
}

.un_insta div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.un_insta img {
    width: 18em;
    height: auto;
}

.un_insta div img {
    width: 4em;
    height: auto;
}

.insta a {
    text-decoration: none;
    color: var(--couleur-texte-principal);
    font-family: 'Antonio', sans-serif;
    font-size: 2em;
    transition: 0.3s;
}

.insta a:hover {
    color: var(--couleur-boutton);
}