/*positionnement*/

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 130em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.explos h1 {
    padding-top: 6em;
    margin-left: 1em;
}

.explos>p {
    margin: 1.5em 2.45em 0 2.45em;
    padding: 0.2em 0.5em 0.3em 0.5em;
}

.explos_photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}

.explos_photos>article {
    flex-basis: 25%;
    flex-grow: 1;
    margin: 2.7em;
    padding: 1em;
    position: relative;
    overflow: hidden;
}

.explos_photos>article>img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.7em;
}

.trait-blanc {
    flex-grow: 1;
    border: none;
    height: 2px;
}

.explos_photos>article article {
    width: 28em;
    padding-top: 2em;
}

.explos_photos>article article div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.2em;
}

.explos_photos>article article img {
    width: 2.4em;
    height: auto;
    margin-left: 0.2em;
}

.explos_photos>article article div p{
    margin-right: 0.4em;
}

.explos_photos>article a {
    display: inline-block;
    margin: 0 auto;
}

.explos_photos>article a div {
    padding: 0.2em 1em 0.4em 1em;
    margin-top: 1em;
}

/*style*/

main {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

.explos h1 {
    color: white;
    font-size: 2.8em;
    font-family: 'Anton', sans-serif;
}

.explos > p {
    background: rgba(0, 0, 0, 0.5);
    border: white 0.08em solid;
}

.explos p {
    color: white;
    font-size: 1.1em;
    font-family: 'Antonio', sans-serif;
}

.explos_photos>article {
    background-color: white;
}

.content {
    color: white;
}

.trait-blanc {
    border: none;
    height: 2px;
    background-color: white;
}

.explos_photos>article article {
    background: rgba(0, 0, 0, 0.4);
}

.explos_photos>article article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
    margin: 0 0.8em 0 0.8em;
}

.explos_photos>article article p {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_photos>article a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_photos>article a div {
    border-radius: 2em;
    border: 0.09em solid white;
}

.explos_photos>article a div:hover {
    background: rgba(0, 0, 0, 0.4);
}