header {
    background-color: black;
    box-shadow: 0px 25px 60px 60px black;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

header .menu {
    list-style-type: none;
}

header .menu li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Antonio', sans-serif;
}

header nav>ul>li>a:hover {
    color: #3B3B3B;
}

header .menu li .sous_menu {
    background: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

header .sous_menu li {
    border-bottom: 1px solid white;
}

header .menu>li.has-sous_menu>a::after {
    content: ">";
    transition: transform 0.3s;
    color: white;
}

header .menu>li.has-sous_menu>a:hover::after {
    transform: rotate(90deg);
    color: #3B3B3B;
}

header .menu li .sous_menu li:hover {
    background-color: #3B3B3B;
}

header .search2 {
    border-radius: 30px;
    font-style: italic;
}

header .submit {
    border-radius: 30px;
}

main {
    background-color: #222222;
}

.container {
    background-color: #222222;
}

.explos h1 {
    color: white;
    font-size: 2.8em;
    font-family: 'Anton', sans-serif;
}

.explos p {
    color: white;
    font-size: 1.1em;
    font-family: 'Antonio', sans-serif;
}

.explos_photos>article {
    background-color: white;
}

.content {
    color: white;
}

.trait-blanc {
    border: none;
    height: 2px;
    background-color: white;
}

.explos_photos>article article {
    background: rgba(0, 0, 0, 0.4);
}

.explos_photos>article article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
    margin: 0 0.8em 0 0.8em;
}

.explos_photos>article article p {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_photos>article a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_photos>article a div {
    border-radius: 2em;
    border: 0.09em solid white;
}

.explos_photos>article a div:hover {
    background: rgba(0, 0, 0, 0.4);
}